<!--* vcloud-director-ui-extension-sample-about-page
    *  SPDX-License-Identifier: BSD-2-Clause
    *  Copyright 2018 VMware, Inc. All rights reserved. VMware Confidential
    *-->

<div class="content-area">
  <h1>About PhoenixNap Hosting</h1>

  <p>
  Founded in 2009, phoenixNAP’s mission has always been to provide outstanding value and service, using state-of-the-art technology, while continually improving our technical and human assets. It is through these methods that we are able to maintain an incredibly customer responsive experience that puts their needs first. We remove the stress from IT management, so our customers can focus on their core business.
  <p>
  When you work with phoenixNAP, you don’t just get a state-of-the-art, catastrophe-free Data Center, you gain access to our greatest asset—our people. PhoenixNAP employees are highly skilled professionals who maintain leading-edge knowledge of our hardware, software, and security measures. The phoenixNAP team is always here waiting to help. From our sales experts to our support team, we have one goal in mind: your success.

  <h2>Services Available</h2>
  <li>Colocation Services</li>
  <li>Cloud Services</li>
  <li>Dedicated Servers</li>
  <li>Bare Metal Servers</li>
  <li>Amazon Web Services</li>

  <h2>Contact Information</h2>
  <li>Phone: 1-855-330-1509</li>
  <li>Email: support@phoenixnap.comm</li>
</div>
